<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="slds">
    <header>
      <% include ../partials/siteHeader %>
    </header>
    <main>
      <% include ../partials/pageHeader %>
      <div class="slds-p-around--large">
        <div id="hello"></div>
      </div>
    </main>
    <!-- JavScript -->
    <script type="text/javascript" src="javascripts/min/raytracer.js"></script>
  </body>
</html>